## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/scottmacdonald/Desktop/UCB Data Bootcamp/Module 6 - WeatherPy with Python APIs/World_Weather_Analysis/Resources/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Esperance,AU,-33.8667,121.9000,60.13,44,37,22.88,light rain
1,1,Bonthe,SL,7.5264,-12.5050,81.12,76,96,9.42,light rain
2,2,Gobabis,NaN,-22.4500,18.9667,63.63,21,0,10.92,clear sky
3,3,Agadir,MA,30.4202,-9.5982,79.25,52,12,6.64,few clouds
4,4,Pedernales,DO,18.0384,-71.7440,87.62,57,79,5.77,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bonthe,SL,7.5264,-12.5050,81.12,76,96,9.42,light rain
3,3,Agadir,MA,30.4202,-9.5982,79.25,52,12,6.64,few clouds
4,4,Pedernales,DO,18.0384,-71.7440,87.62,57,79,5.77,broken clouds
8,8,Puerto Ayora,EC,-0.7393,-90.3518,80.56,87,63,5.99,broken clouds
11,11,Price,US,39.5994,-110.8107,77.72,28,1,0.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,Ilinskiy,RU,55.6190,38.1182,79.14,65,0,8.95,clear sky
684,684,Ranong,TH,9.9658,98.6348,79.92,84,28,7.23,scattered clouds
686,686,Donskoye,RU,45.4552,41.9741,82.53,71,82,5.08,broken clouds
687,687,Pyapon,MM,16.2833,95.6833,80.17,88,96,6.04,overcast clouds
690,690,Bhadrachalam,IN,17.6667,80.8833,84.81,73,100,2.84,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Bonthe,SL,7.5264,-12.5050,81.12,76,96,9.42,light rain
3,3,Agadir,MA,30.4202,-9.5982,79.25,52,12,6.64,few clouds
4,4,Pedernales,DO,18.0384,-71.7440,87.62,57,79,5.77,broken clouds
8,8,Puerto Ayora,EC,-0.7393,-90.3518,80.56,87,63,5.99,broken clouds
11,11,Price,US,39.5994,-110.8107,77.72,28,1,0.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
681,681,Ilinskiy,RU,55.6190,38.1182,79.14,65,0,8.95,clear sky
684,684,Ranong,TH,9.9658,98.6348,79.92,84,28,7.23,scattered clouds
686,686,Donskoye,RU,45.4552,41.9741,82.53,71,82,5.08,broken clouds
687,687,Pyapon,MM,16.2833,95.6833,80.17,88,96,6.04,overcast clouds
690,690,Bhadrachalam,IN,17.6667,80.8833,84.81,73,100,2.84,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bonthe,SL,81.12,light rain,7.5264,-12.5050,
3,Agadir,MA,79.25,few clouds,30.4202,-9.5982,
4,Pedernales,DO,87.62,broken clouds,18.0384,-71.7440,
8,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,
11,Price,US,77.72,clear sky,39.5994,-110.8107,
17,Dingle,PH,77.38,overcast clouds,10.9995,122.6711,
30,Butaritari,KI,81.50,light rain,3.0707,172.7902,
31,Pacific Grove,US,80.80,overcast clouds,36.6177,-121.9166,
34,Georgetown,MY,80.53,few clouds,5.4112,100.3354,
35,Kosovska Mitrovica,XK,80.94,scattered clouds,42.8833,20.8667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace(",np.nan, inplace = True")

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bonthe,SL,81.12,light rain,7.5264,-12.5050,Bonthe Holiday Village
3,Agadir,MA,79.25,few clouds,30.4202,-9.5982,Iberostar Founty Beach
4,Pedernales,DO,87.62,broken clouds,18.0384,-71.7440,Hotel Costa Marina
8,Puerto Ayora,EC,80.56,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Price,US,77.72,clear sky,39.5994,-110.8107,National 9 - Price River Inn
...,...,...,...,...,...,...,...
681,Ilinskiy,RU,79.14,clear sky,55.6190,38.1182,Around the world
684,Ranong,TH,79.92,scattered clouds,9.9658,98.6348,Tinidee Hotel@Ranong
686,Donskoye,RU,82.53,broken clouds,45.4552,41.9741,
687,Pyapon,MM,80.17,overcast clouds,16.2833,95.6833,Aung Naing Thu Motel
690,Bhadrachalam,IN,84.81,overcast clouds,17.6667,80.8833,Hotel Srinidhi Residency

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/scottmacdonald/Desktop/UCB Data Bootcamp/Module 6 - WeatherPy with Python APIs/World_Weather_Analysis/Resources/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))